[Unit]
Description=Ansible pull service
Wants=network-online.target
After=network-online.target
OnFailure=ansible-refresh.service

[Service]
Type=oneshot
Environment=HOMEBREW_PREFIX="/var/home/linuxbrew/.linuxbrew/Homebrew"
Environment=HOMEBREW_CELLAR="/var/home/linuxbrew/.linuxbrew/Homebrew/Cellar"
Environment=HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew"
Environment=PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/usr/local/bin:/usr/bin"
ExecStart=/usr/sbin/bash -c "ansible-pull --vault-password-file={{ vault_file }} -o -U {{ repo }} -C {{ branch }}"

[Install]
WantedBy=multi-user.target
